USE [master]
GO
/****** Object:  Database [HotelBD]    Script Date: 30.01.2021 19:33:39 ******/
CREATE DATABASE [HotelBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBD', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HotelBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelBD_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HotelBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBD]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 30.01.2021 19:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Room_Id] [int] NOT NULL,
	[Room_Num] [varchar](10) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Holder] [varchar](40) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Room_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.01.2021 19:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [varchar](40) NOT NULL,
	[Password] [varchar](40) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Rooms] ([Room_Id], [Room_Num], [Status], [Holder]) VALUES (1, N'2', N'занята', N'Nikita')
INSERT [dbo].[Rooms] ([Room_Id], [Room_Num], [Status], [Holder]) VALUES (2, N'3', N'занята', N'Nikita')
INSERT [dbo].[Rooms] ([Room_Id], [Room_Num], [Status], [Holder]) VALUES (3, N'4', N'свободна', NULL)
GO
INSERT [dbo].[Users] ([Login], [Password], [Role]) VALUES (N'1', N'1', 1)
INSERT [dbo].[Users] ([Login], [Password], [Role]) VALUES (N'Nikita', N'0', 0)
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Users] FOREIGN KEY([Holder])
REFERENCES [dbo].[Users] ([Login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Users]
GO
USE [master]
GO
