<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AirPortEntities" connectionString="metadata=res://*/AirLines.csdl|res://*/AirLines.ssdl|res://*/AirLines.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AVCRPLB\SQLEXPRESS;initial catalog=AirPort;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>